@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo a home</h1>
    <p>Aqui dados abertos a visualização comum estariam disponíveis.</p>
    <p>Para acessar o CRUD de produtos clique no canto superior direito em <strong>Admin</strong> e em seguida clique em <strong>Produtos</strong></p>
    <p>O menu lateral superior estaria simulando onde serie o acesso das páginas caso fosse um usuário de nível administrador logado.</p>
    <p>Por questão de tempo e ser meu primeiro projeto usando a estrutura de bibliotecas ASP, o cadastro/login e as páginas restantes<br /> serão finalizadas e atualizadas neste repositório futuramente a medida que desenvolvo o site.</p>
</div>
